h1{
    color: rgb(208, 161, 252);
}

h2{
    color: rgb(56, 18, 92);
}

body{
    background-color: black;
    color: white;
}

.p{
    color: blue;
}

h1, p, h2{
    text-align: center;
}

div{
   padding: 20px 50px 20px 50px;
   margin: 30px 450px 30px 450px;
   border-style: solid;
   border-width: 10px;
   border-color: blueviolet;

   background-color: white;
   color:black;
}